/* general style section started*/
html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-primary: #57635c;
  --color-secondary: #ff0000;
  --color-back: #d3efdf;
  --color-button: #e5e5e5;
  --color-border: #b1c9bb;
  --border-radius: 5px;
}
img,
picture {
  max-width: 100%;
  height: 75px;

  /* display: block; */
}
.container {
  width: 70vw;
  margin: 4rem auto;
  background-color: var(--color-back);
  border: 5px solid var(--color-border);
  border-radius: 10px;
  padding: 4rem;
}
header {
  text-align: center;
}
h1,
h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 3rem;
  margin: 2rem 0;
}
.new-task {
  background-color: #fff;
  border: 3px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  text-align: center;

  margin-bottom: 2rem;
}
button {
  padding: 0 0.5rem;
}
.tasks {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}
label {
  font-size: 1.8rem;
}
h2 {
  color: var(--color-primary);

  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
  font-size: 2rem;
}
.task-list {
  background-color: #fff;
  padding: 1rem;
  border: 3px solid var(--color-border);
  border-radius: var(--border-radius);

  flex-grow: 1;
}
ul {
  list-style-type: none;
}
li {
  padding: 1rem;
  border-bottom: 1px dotted var(--color-border);
}
.complete-tasks li {
  display: flex;
  justify-content: space-between;
}
#button {
  background-color: var(--color-secondary);
  border: none;
  color: #fff;
  padding: 0.5rem 0.7rem;
}
